.submission-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  border-style: inherit;
}

.text-section {
  flex: 2;
  padding: 20px;
  color: #333;
}

.image-section {
  flex: 1;
  background-size: cover;
  background-position: center;
  height: 800px;
}

h1 {
  color: #9ac6ff;
}

h2 {
  color: #9ac6ff;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
}
.expired{
  color:red;
}
footer {
  background:#9ac6ff;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}


.footer-container {
  display: flex;
  justify-content: space-between; /* Left & right alignment */
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.no-underline {
  text-decoration: none;
  color: white; /* Adjust color if needed */
}

.no-underline:hover {
  text-decoration: underline; /* Optional: underline on hover */
}