.w-100 {
    width: 100%;
    overflow: hidden;
}
.empty-25{
    margin: 0px 0px 25px 0px;
}
.empty-30 {
    margin: 0px 0px 50px 0px;
}
a {
    font-size: 15px;
    color: #f4943c;
    background-color: transparent;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 25px;
    padding-left: 25px;
}
h2 {
   font-weight: bold;
}
h4 {
  font-weight: 500;
}
ul {
    color: #606060;
    list-style: disc;
    
}
li {
    color: black;
    font-size: 18px;
    line-height: 2;
}
.text-title {
    margin-top: 40px;
    margin-bottom: 40px;
}
.single-feature img{
    width: 90px;
    margin-bottom: 20px;
}
.orange-bg{
    background-color: #f78f2e;
    padding: 20px 0px;
}
.line-div{
    display: flex;
    justify-content: center;
}
.line{
    border: 0.2px solid gray;
    width: 80%;
}
p {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}
b, strong {
    font-weight: bold;
    color: black;
}